<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omega: Elite Clan</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
    <% for (var i = 0; i < htmlWebpackPlugin.files.css.length; i++) { %>
        <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
    <% } %>
    <% for (var j = 0; j < htmlWebpackPlugin.files.js.length; j++) { %>
        <script src="<%= htmlWebpackPlugin.files.js[j] %>" defer></script>
    <% } %>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 578.5 544.1">
                <g>
                    <g>
                        <path class="logo-fill"
                              d="M295.76,98.32v36.44H290.2V257.17h-6.14V134.84h-5.67V98.35c-46.88,2.67-88.17,18.84-123.08,50-41.65,37.17-63.42,84.17-67,140h46.8V294h114v6.08H135.16v5.67H88.39c.23,3.33.37,6.45.67,9.54a203,203,0,0,0,6.81,36.26,199.17,199.17,0,0,0,84.34,113.15,196.31,196.31,0,0,0,28.08,14.88c.79.34,1.24.68,1.23,1.67q0,22,0,44.07c0,.3,0,.6-.08,1H75.29V491.24h87.79q-98.39-66.9-106.2-185.42H.64V288.41H57.05c3.24-59.82,25-111.54,67.36-153.9s94.07-64.18,153.92-67.45V.31h17.4V67.05c59.83,3.25,111.56,25,153.91,67.39s64.17,94.07,67.43,153.91h61.14V305.7h-61q-7.9,118.82-106.08,185.46h85.16v35.12H363.15c0-.51-.08-1-.08-1.52,0-14.17,0-28.33,0-42.5a2,2,0,0,1,1.46-2.15A198.79,198.79,0,0,0,483.12,329.84c1.25-7.63,1.74-15.39,2.57-23.09a5.81,5.81,0,0,0-.06-.93H443.75v-5.67H323.48V294H443.65V288.4h42.18c-3.29-52.72-23-97.81-60.91-134.4C389,119.34,345.69,101.32,295.76,98.32Z"/>
                        <path class="logo-fill"
                              d="M245.07,543.51a1.76,1.76,0,0,1-.13-.52c.6-2.64-.25-5.25-.06-7.9s0-5.51,0-8.27v-16.4c0-2.76-.12-5.53,0-8.28a29.94,29.94,0,0,1,1-4.59,26.65,26.65,0,0,0,.8-3.55c.47-5.91.77-11.83,1.3-17.74a68.1,68.1,0,0,1,1.36-8.64c.51-2.28,1.41-4.47,2.14-6.7l.48-.14a13.69,13.69,0,0,1,1.41,2.81A121.19,121.19,0,0,1,256,475.73c.78,6.07,1,12.2,1.69,18.29a31.92,31.92,0,0,0,1.41,4.83,14.23,14.23,0,0,1,.69,3.42q.07,18.43,0,36.86a10.74,10.74,0,0,1-.57,2.43l.82,2Z"/>
                        <path class="logo-fill"
                              d="M286.76,460.43a44.6,44.6,0,0,1,1.78,4.39,83.11,83.11,0,0,1,2.86,16.94c.28,4,.5,8,1,12a35.88,35.88,0,0,0,1.5,5.28,11.3,11.3,0,0,1,.61,2.82q.06,18.58,0,37.17a11.55,11.55,0,0,1-.56,2.53l.83,1.9H279.54c.15-.59.28-1.13.43-1.67,0-.18.2-.36.19-.53-.17-2.08-.51-4.16-.52-6.24q-.09-16.47,0-32.95a21.33,21.33,0,0,1,1-4.45,26.7,26.7,0,0,0,.84-3.7c.48-5.9.83-11.82,1.28-17.73a49.33,49.33,0,0,1,3.47-14.9A7.31,7.31,0,0,1,286.76,460.43Z"/>
                        <path class="logo-fill"
                              d="M328.65,541.61l.79,1.88H314.21c.17-.63.32-1.17.47-1.7.05-.18.19-.37.17-.54-.17-1.77-.51-3.54-.52-5.3q-.07-17,0-33.9a11,11,0,0,1,1-4.28,11.34,11.34,0,0,0,.89-4.17c.34-5.76.78-11.51,1.21-17.27a50.06,50.06,0,0,1,3.49-15.06,8.1,8.1,0,0,1,.57-.8,45.77,45.77,0,0,1,1.75,4.38,82.2,82.2,0,0,1,2.86,16.94c.28,4,.51,8,1,12a37.15,37.15,0,0,0,1.46,5.13,13.94,13.94,0,0,1,.65,3.27q.06,18.51,0,37A12.16,12.16,0,0,1,328.65,541.61Z"/>
                        <path class="logo-fill" d="M289.42,446h-4.69V337.85h4.69Z"/>
                        <path class="logo-fill" d="M287.16,289.33a7.73,7.73,0,1,1-7.82,7.59A7.53,7.53,0,0,1,287.16,289.33Z"/>
                    </g>
                </g>
            </svg>
            <span class="header-text heading">OMEGA: ELITE</span>
        </div>
    </header>
    <article class="main">
        <h1 class="heading page-heading">Getting Set Up in Discord</h1>
        <p>This guide explains the steps to get set up on our Discord server.<span class="hide-guest"> At the end of the guide you can click the "Continue to Discord" button to get started.</span></p>
        <nav class="well">
            <ol class="inside-list">
                <li><a href="#register">Register with Charlemagne</a></li>
                <li><a href="#agree">Agree to the Clan Requirements</a></li>
            </ol>
        </nav>
        <section class="anchored">
            <a class="target" id="register"></a>
            <h2 class="heading section-heading">1. Register with Charlemagne</h2>
            <p>After joining the clan's Discord server you'll end up in the #register channel. In this channel you'll
                register with the <a href="https://warmind.io" target="_blank" rel="noopener">Charlemagne bot</a>.
                Charlemagne is used to manage nicknames on the server and also allow members to view stats for the clan.</p>
            <p>To register with Charlemagne you need to send a message in the channel. The text of the message should be
                ">register".</p>
            <p>Once you've sent the message, Charlemagne will send you a direct message with instructions for linking your
                account.</p>
            <p>After completing registration with Charlemagne you can proceed to the next step.</p>
        </section>
        <section class="anchored">
            <a class="target" id="agree"></a>
            <h2 class="heading section-heading">2. Agree to the Clan Requirements</h2>
            <p>After completing your Charlemagne registration, you can head back to the clan's Discord server. Once you're
                back in the server you'll be in the #welcome channel. In this channel you'll read clan requirements and
                agree or leave the server.</p>
            <p>Assuming you agree to the requirements, you just need to send a message with the text "!agree".</p>
            <p>Once you've sent the message, you'll gain access to the rest of the channels in the server where you'll be
                welcomed by our members.</p>
        </section>
        <section class="center hide-guest">
            <button class="button" id="continueToDiscord">Continue to Discord</button>
        </section>
    </article>
</body>
</html>
